@media only screen and (max-width: 500px) {
    .m1 {
        padding: 50px;
        padding-top: 45px;
        padding-bottom: 0px;
    }
    .flag {
        width: 75px;
        margin: 0.7rem;
    }
}